REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=thynkk/0.1 by <reddit_username>
ANTHROPIC_API_KEY=
DATABASE_URL=postgresql://user:password@host:5432/thynkk
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
EMAIL_API_KEY=
